<div class="col-xs-12 col-sm-12 col-md-12 stats-box">
    <h3 style="color:#34495e" class="title-box">Statistics for {{date}}</h3>
    <div class="col-xs-6 col-sm-6 col-md-6" >
        <div zingchart id="myChart" zc-json="myJson" zc-height=450 zc-width=600></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6" style="height:320px;border-left:1px dotted #95a5a6">
    <div style="padding-top: 100px;" >
        <h3 style="color:#34495e">Total items sold: {{totalSold}} items</h3>
        <!-- <h3 style="color:#34495e">Total income: {{totalIncome | currency }}</h3> -->
    </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12" >
         <div zingchart id="chart-1" zc-json="myJsons" zc-width="100%" zc-height="280px" style="margin-top: -80px;"></div>
    </div>
    <div style="width: 184px; height:43px; background-color: white; margin-left:840px; position: absolute; top:675px" >
        
    </div>

</div>



